<!DOCTYPE html>
<html lang="en">
   <head>
      {% load leaflet_tags %}
      {% load i18n %}
      {% load staticfiles %}
      {% leaflet_js %}
      {% leaflet_css %}
      {% load geojson_tags %}
      {% load bootstrap3 %}
      {% load bootstrap_toolkit %}
      <meta charset="utf-8">
      <title>mLisho - {% block title %}Maps{% endblock %}</title>
      <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="shortcut icon" href="{% static 'smart/img/favicon.ico' %}">
      <meta name="description" content="">
      <meta name="author" content="">
      <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Le styles -->
      <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
      <link rel="stylesheet" href="{% static 'smart/css/MarkerCluster.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/MarkerCluster.Default.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/qgis2web.css' %}">
      <link rel="stylesheet" href="{% static 'smart/css/label.css' %}" />
      <link rel="stylesheet" href="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.css" />
      <link rel="stylesheet" href="{% static 'smart/css/leaflet.draw.css' %}"/>
      <link rel="stylesheet" href="{% static 'smart/css/leaflet.measurecontrol.css' %}"/>
            
   
      <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="{% static 'smart/css/leaflet.fusesearch.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/bootstrap.min.css'%}">
      <link rel="stylesheet" href="{% static 'smart/css/bootstrap-responsive.min.css'%}">
      <link rel="stylesheet" href="{% static 'smart/css/leaflet-routing-machine.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/Control.Geocoder.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/easy-button.css' %}" />
     
      <link href="{% static 'smart/css/bootplus.css' %}" rel="stylesheet">
      <link href="{% static 'smart/css/leaflet.awesome-markers.css' %}" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'smart/css/font-awesome.min.css'%}">
      <link rel="stylesheet" href="{% static 'smart/css/style.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/leaflet.label.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/leaflet-search.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/leaflet-zoomhome.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/leaflet-measure.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/L.Control.ZoomMin.css' %}" />
      <link rel="stylesheet" href="{% static 'smart/css/L.Control.Sidebar.css' %}" />
      <link href='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/leaflet.fullscreen.css' rel='stylesheet' />
      <link rel="stylesheet" href="{% static 'smart/css/leaflet.fusesearch.css' %}" />

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet-hash.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/label.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/Autolinker.min.js' %}"></script>
      <script type="text/javascript" src="http://k4r573n.github.io/leaflet-control-osm-geocoder/Control.OSMGeocoder.js"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet.markercluster.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet.draw.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet.measurecontrol.js' %}"></script>
      
      <script src="{% static 'smart/js/leaflet-routing-machine.js' %}"></script>
      <script src="{% static 'smart/js/Control.Geocoder.js' %}"></script>
      <script src="{% static 'smart/js/easy-button.js' %}"></script>
      <script src="{% static 'smart/js/leaflet.markercluster-src.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet.label.js' %}" ></script>
      <script src='//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v0.0.2/Leaflet.fullscreen.min.js'></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
      <script type="text/javascript" src="{% static 'smart/js/fuse.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet.awesome-markers.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet-measure.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet.fusesearch.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet.zoomhome.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/jquery.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/bootstrap.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/L.Control.ZoomMin.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/L.Control.Sidebar.js' %}"></script>
      <script type="text/javascript" src="{% static 'smart/js/leaflet-search.js' %}"></script>

      <style>

        .map {
            position: absolute;
            width: 100%;
            height: 100%;
        }
      </style>
      <style type="text/css">

      body {
        padding-top: 60px;
        padding-bottom: 10px;
      }
      .hero-unit {
          padding: 60px;
      }
      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
      </style>
      <link href="{% static 'smart/css/bootplus-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
   </head>

   <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Map Portal</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
             {% if user.is_authenticated %}
                         Welcome, {{ user.username }}!
                        {% else %}
                        <li><a href="/accounts/login/"><i class="icon-lock"> Login</i></a></li>
                        {% endif %}
            </p>
            <ul class="nav">
              <li><a href="/">Home</a></li>
              <li ><a href="#">Topograhical Map</a></li>
              <li ><a href="#">Nomad Map</a></li>
              <li ><a href="#">ClimWeather Map</a></li>
              <li class="active"><a href="#">Biomass Map</a></li>
              <!--<li><a href="#">Tools</a></li>-->
              <!--<li><a href="#">Search</a></li>-->
              <!--<li><a href='#' id="filter_control" style="text-decoration:none; color:inherit;">Show Filter</a></li>-->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <!-- Sidebar 
    <div class="well" id="sidebar">
      <h4>Well Filter</h4><hr>
      <p><strong>Well Owner:</strong></p>
      <select class="form-control" id="select_owner" onchange="getResult()">
          <option value="all">Show All</option>
          <option disabled>---------------------------------------</option>         
          <option value="GDC">GDC</option>
          <option value="GRD">GRD</option>
          <option value="HYANG">HYANG</option> 
          <option value="OTHER">OTHER</option>               
      </select>      
      <br>
      <p><strong>Well State:</strong></p>
      <select class="form-control" id="select_state" onchange="getResult()">
          <option value="all">Show All</option>
          <option disabled>---------------------------------------</option>         
          <option value="Siting">Siting</option>
          <option value="Drilling">Drilling</option>
          <option value="Construction">Construction</option>
          <option value="Production">Production</option>
          <option value="Maintenance">Maintenance</option>
          <option value="Abandonment">Abandonment</option>          
      </select>
    </div>
    -->
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="row-fluid">
               <div class="card">
                  <div class="card-body">
                    <div id="map"></div>
                    <script src= "{% static 'smart/js/map/map_biomass.js' %}"></script>
                  </div>
               </div>
          </div><!--/row-->
        </div><!--/span-->
      </div>
      <!--/row-->
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'smart/js/jquery.js'%}"></script>
   </body>
</html>
